set_io rgb0 39
set_io rgb1 40
set_io rgb2 41

set_io data_0 46
set_io data_1 47
set_io data_2 45
set_io data_3 44

set_io spi_mosi 14
set_io spi_miso 17
set_io spi_clk  15
set_io spi_io2  20
set_io spi_io3  13
set_io spi_cs   16

set_io usb_dn    26
set_io usb_dp    27
set_io usb_dp_pu 31
set_io usb_activ  2

set_io clki    25
set_io clki_en 35
